<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fatburnhub" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>fatburnhub</name>
    <description>
        Fat Burn Hub application
    </description>
    <author email="djindjic@gmail.com" href="http://fatburnhub.com">
        Fat Burn Hub
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
